/*Global Variables*/
*{
    /*outline: 2px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
:root{
    /*Pendiente de Definir Variables Color*/
    --light-peach:#FFF1E0;
    --igerent-orange: #E08302;
}
/* Separator*/
.separator{
    background-color: var(--light-peach);
    color: #aaafb3;
    padding: 80px;
    width: auto;
}
.separator-text{
    text-align: center;
    font-size: 24px;
    text-transform:uppercase;
}

/* Review*/
.reviewsection{
    display: flex;
    justify-content: center;
    margin: 0em 10em 1em 10em;
    gap: 3%;
    flex-wrap:wrap;
    }
.reviewblock{
    max-width: 30%;
    min-width: 300px;
    min-height: 100px;
    flex-grow: 1;
 }
/* Testeando Quotations*/

.reviewcontent::before{
    content: open-quote;
    color: #E08302;
    font-size: 4em;
    padding: 0em 0.3em 1em 0em;
}
.reviewcontent::after{
    content: close-quote;
    color: #E08302;
    font-size: 4em;
    position: relative;
    top: 55px;
}

.reviewname{
    font-family: sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
    padding: 1em 1em 1em 1em;
}
.reviewdate{
    font-family: sans-serif;
    font-size: 1.125em;
    font-style: italic;
    text-align: center;
    padding: 0em 0.75em 0.75em 0.75em;
}
.reviewcontent{
    border-top: 1px solid #2b3e4d;
    border-bottom: 1px solid #2b3e4d;
    font-family: sans-serif;
    font-style: italic;
    padding: 1em;
    font-size: 1.125em;
    min-height: 170px;
    line-height: 25px;
    display: flex;
    align-items: center;
}
.reviewstars{
    padding: 1em 0em 0em 0em;
    text-align: center;

}
.disclaimer{
    text-align: center;
    padding-bottom: 15px;
}
.reviewimage{
    height: 50px;
    display: block;
    margin:auto;
    padding-bottom: 15px;
}
/* Review 2*/
.disclaimerblock{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reviewimage2{
    height: 50px;
    padding-bottom: 15px;
}
.disclaimer2{
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}